MQTT_BROKER=
MQTT_PORT=
MQTT_TOPIC=
MQTT_USER=
MQTT_PASSWORD=
MQTT_CLIENT_ID=

OPENAI_API_KEY=
TRANSCRIPTION_MODEL=
OPENAI_ASSISTANT_MODEL=
OPENAI_ASSISTANT_NAME=
OPENAI_ASSISTANT_DESCRIPTION=

WELCOME_MESSAGE=""

OPENAI_ASSISTANT_INSTRUCTIONS_FILE=
OPENAI_ASSISTANT_SCHEMA_FILE=
OPENAI_ASSISTANT_STATE_FILE=

ANTHROPIC_API_KEY=

RENDER_API_KEY=
RENDER_SERVICE_ID=

RESEND_API_KEY=

ADMIN_PASSWORD=